[submodule "modules/mod-ollama-bot-buddy"]
	path = modules/mod-ollama-bot-buddy
	url = https://github.com/jrcasso/mod-ollama-bot-buddy.git
	branch = main
[submodule "modules/mod-ollama-chat"]
	path = modules/mod-ollama-chat
	url = https://github.com/jrcasso/mod-ollama-chat.git
	branch = main
[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/jrcasso/mod-playerbots.git
	branch = master
